.category-switch {
    display: flex;
    align-items: center;
    flex-wrap: wrap;

    > h2 {
        font-weight: 600;
        font-size: 24px;
        margin-right: 20px;
    }

    > ul {
        display: flex;
        align-items: center;
        border: 1px solid rgba(3, 37, 65, 1);
        border-radius: 30px;
        flex-wrap: wrap;

        > li {
            list-style: none;
            padding: 4px 20px;
            border-radius: 30px;
            color: rgba(3, 37, 65, 1);
            font-weight: 600;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            align-self: stretch;

            &.active-category {
                background-color: rgba(3, 37, 65, 1);
                color: #1ed5a9;
            }

        }

    }

    &--secondary {
        > h2 {
            color: white;
        }

        > ul {
            border-color: #1ed5a9;

            > li {
                color: white;

                &.active-category {
                    background-color: #1ed5a9;
                    color: rgba(3, 37, 65, 1);
                }
            }
        }
    }
}

@media only screen and (max-width: 500px) {
    .category-switch {
        flex-direction: column;

        > h2 {
            margin: 0 0 5px 0;
        }
    }
}