.popular-people {
    display: flex;
    justify-content: center;
    padding: 20px 0;

    > article {
        margin-left: 35px;

        > h2 {
            font-weight: 700;
        }

        > section {
            width: 1350px;
            display: flex;
            flex-wrap: wrap;
    
            > div {
                width: 235px;
                margin-top: 30px;
                margin-right: 35px;
                box-shadow: 0 2px 8px rgba(0,0,0,0.1);
                border: 1px solid rgba(227, 227, 227, 1);

                > a {
                    > img {
                        width: 100%;
                        height: 235px;
                        object-fit: cover;
                        cursor: pointer;
                    }
    
                    > .no-image {
                        width: 100%;
                        height: 235px;
                        background-color: #DBDBDB;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        cursor: pointer;
    
                        > img {
                            width: 120px;
                            height: 120px;
                            object-fit: cover;
                        }
                    }
                }

                > div {
                    padding: 2px 10px 8px 10px;

                    > a {
                        text-decoration: none;

                        > h3 {
                            display: inline;
                            font-size: 18px;
                            font-weight: 600;
                            cursor: pointer;
                            color: black;
                        }
                    }
    
                    > p {
                        font-size: 14.5px;
                        font-weight: 400;
                        color: rgba(0,0,0,0.6);
                    }
                }
            }
        }

        > ul {
            width: 1315px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-wrap: wrap;
            margin-top: 25px;

            > * {
                margin: 5px 4px 0 4px;
            }

            > :first-child {
                margin-left: 0;
            }

            > :last-child {
                margin-right: 0;
            }

            > li {
                list-style: none;
                cursor: pointer;
                font-weight: 600;

                &.curr-page {
                    padding: 2px 8px;
                    cursor: auto;
                    font-weight: 400;
                    border: 1px solid black;
                }

                &.ellipsis {
                    letter-spacing: 1px;
                    cursor: auto;
                    margin: 0;
                }
            }

            > button {
                background: none;
                border: none;
                font-weight: 600;
                font-size: 16px;
                cursor: pointer;
            }
        }
    }
}

@media only screen and (max-width: 1380px) {
    .popular-people {
        > article {
            > section {
                width: 1080px;
            }

            > ul {
                width: 1045px;
            }
        }
    }
}

@media only screen and (max-width: 1115px) {
    .popular-people {
        > article {
            > section {
                width: 810px;
            }

            > ul {
                width: 775px;
            }
        }
    }
}

@media only screen and (max-width: 850px) {
    .popular-people {
        > article {
            > section {
                width: 540px;
            }

            > ul {
                width: 505px;
            }
        }
    }
}

@media only screen and (max-width: 570px) {
    .popular-people {
        > article {
            margin-left: 0;

            > section {
                width: 235px;

                > div {
                    margin-right: 0;
                }
            }

            > ul {
                width: 235px;
                justify-content: unset;
            }
        }
    }
}