.films-horizontal-list {
    margin-top: 20px;
    display: flex;
    overflow-x: auto;

    &::-webkit-scrollbar {
        height: 8px;
    }

    &::-webkit-scrollbar-thumb {
        background-color: lightgray;
        border-radius: 8px;
    }

    > a {
        text-decoration: none;
        margin: 0 10px;

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            margin-right: 0;
        }

        > div {
            width: 150px;
    
            > img {
                width: 100%;
                height: 225px;
                border-radius: 8px;
                object-fit: cover;
            }
    
            > div {
                padding: 20px 10px 50px 10px;
                position: relative;
    
                > .film-percentage {
                    top: -25px;
                    position: absolute;
                }
                
                > h4 {
                    font-weight: 700;
                    color: black;
                    display: inline;
    
                    &:hover {
                        color: rgb(1, 180, 228);
                        transition-timing-function: ease-out;
                    }
                }
        
                > p {
                    color: rgba(0,0,0,0.6);
                }
            }
        }
    }
}