.overview {
    display: flex;
    align-items: center;
    background-color: #cccccc;
    padding: 15px 0 15px 300px;

    > a {
        margin-right: 20px;

        > img {
            width: 58px;
            height: 87px;
            object-fit: cover;
            border-radius: 4px;
            cursor: pointer;
        }
    }

    > div {
        > h2 {
            font-size: 35px;
            
            > a {
                text-decoration: none;
                color: black;
                font-weight: 700;
                cursor: pointer;
            }

            > span {
                opacity: 0.8;
                font-weight: 400;
                cursor: auto;
                margin-left: 7px;
            }
        }

        > a {
            color: black;

            > p {
                font-size: 18px;
                font-weight: 600;
                cursor: pointer;
                display: inline-block;
    
                &:hover {
                    color: rgba(127, 127, 127, 1);
                    transition-timing-function: ease-in-out;
                }
            }
        }
    }
}

@media only screen and (max-width: 1500px) {
    .overview {
        padding-left: 200px;
    }
}

@media only screen and (max-width: 1300px) {
    .overview {
        padding-left: 100px;
    }
}

@media only screen and (max-width: 800px) {
    .overview {
        padding-left: 30px;
    }
}

@media only screen and (max-width: 400px) {
    .overview {
        > div {
            > h2 {
                font-size: 28px;
            }
        }
    }
}