.welcome {
  background-image: linear-gradient(to right, rgba(3, 37, 65, 0.8) 0%, rgba(3, 37, 65, 0) 100%), url("https://www.themoviedb.org/t/p/w1920_and_h600_multi_faces_filter(duotone,032541,01b4e4)/oE6bhqqVFyIECtBzqIuvh6JdaB5.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 80px 40px 90px 40px;

  > h2 {
    color: white;
    font-size: 48px;
    font-weight: 700;
  }
    
  > h3 {
    color: white;
    font-size: 32px;
    font-weight: 600;
    margin-bottom: 50px;
  }

  > div {
    position: relative;

    > input {
      width: 100%;
      height: 46px;
      font-size: 16px;
      border: none;
      border-radius: 30px;
      padding: 0 110px 0 20px;
      outline: none;
    }

    > button {
      position: absolute;
      border: none;
      cursor: pointer;
      top: 0;
      right: -1px;
      background: linear-gradient(to right, rgba(30, 213, 169, 1) 0%, rgba(1, 180, 228, 1) 100%);
      border-radius: 30px;
      color: #fff;
      font-size: 17px;
      font-weight: 700;
      width: 100px;
      height: 46px;
      display: flex;
      justify-content: center;
      align-items: center;

      &:hover {
        color: rgba(3, 37, 65, 1);
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .welcome {
    padding: 80px 20px 90px 20px;

    > h2 {
        font-size: 37px;
    }

    > h3 {
      font-size: 21px;
    }
  }
}