.search {
    padding: 30px 0;
    display: flex;
    justify-content: center;

    > section:nth-of-type(1) {
        width: 260px;

        > div {
            border-radius: 8px;
            overflow: hidden;
            border: 1px solid rgba(227, 227, 227, 1);

            > div {
                padding: 20px;
                font-size: 19px;
                font-weight: 600;
                color: white;
                background-color: rgba(1, 180, 228, 1);
            }

            > ul {
                padding: 8px 0;

                > li {
                    padding: 10px 20px;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    cursor: pointer;
                    transition: all 50ms ease-in-out;
                    
                    &:hover {
                        background-color: #E8E8E8;

                        > .total-results {
                            background-color: white;
                        }
                    }

                    > .total-results {
                        font-size: 15px;
                        font-weight: 300;
                        padding: 2px 10px;
                        border-radius: 8px;
                        background-color: #E8E8E8;
                        cursor: pointer;
                    }
                }
            }
        }

        > p {
            color: #666;
            margin-top: 20px;

            > img {
                width: 23px;
                height: 23px;
                object-fit: cover;
                vertical-align: bottom;
                margin-right: 4px;
            }
        }
    }

    > section:nth-of-type(2) {
        width: 1000px;
        margin-left: 30px;

        > div {
            display: flex;
            align-items: center;
            border-radius: 8px;
            overflow: hidden;
            border: 1px solid rgba(227, 227, 227, 1);
            box-shadow: 0 2px 8px rgb(0 0 0 / 10%);
            margin-bottom: 20px;

            &:last-child {
                margin-bottom: 0;
            }

            > img {
                width: 94px;
                height: 141px;
                object-fit: cover;
                cursor: pointer;
            }

            > .no-image {
                width: 94px;
                height: 141px;
                background-color: #DBDBDB;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-shrink: 0;

                > img {
                    width: 48px;
                    height: 48px;
                    object-fit: cover;
                }
            }

            > div:last-child {
                padding: 10px 15px;

                > h2 {
                    display: inline;
                    font-size: 19px;
                    font-weight: 600;
                    cursor: pointer;

                    &:hover {
                        color: #666;
                    }
                }

                > p:nth-of-type(1) {
                    color: #999;
                }

                > .overview {
                    margin-top: 20px;
                    color: black !important;
                }
            }
        }

        > ul {
            display: flex;
            justify-content: center;

            > li {
                list-style: none;
                font-weight: 600;

                &.active-page {
                    color: red;
                }
            }
        }
    }
}

@media only screen and (max-width: 1360px) {
    .search { 
        flex-direction: column;
        align-items: center;

        > section:nth-of-type(2) {
            margin: 30px 0 0 0;
        }
    }
}

@media only screen and (max-width: 1070px) {
    .search {
        padding: 30px 10px;

        > section:nth-of-type(2) {
            width: 95%;
        }
    }
}