.footer {
    display: flex;
    justify-content: center;
    background: radial-gradient(at 30% top, #031d33 0%, rgba(3, 37, 65, 1) 70%);
    padding-top: 50px;
    padding-bottom: 100px;

    > div {
        display: flex;
        flex-direction: column;
        align-items: flex-end;

        > img {
            width: 130px;
            height: 94px;
            object-fit: cover;
            margin-bottom: 40px;
        }

        > a {
            text-decoration: none;
            color: rgba(1, 180, 228, 1);
            background-color: white;
            font-size: 18px;
            font-weight: bold;
            border-radius: 5px;
            padding: 10px 16px;
        }
    }

    > section {
        display: flex;
        flex-wrap: wrap;
        padding-top: 40px;
        margin-left: 40px;

        > div {
            margin-right: 40px;

            &:last-child {
                margin-right: 0;
            }

            > h3 {
                font-weight: bold;
                font-size: 20px;
                color: white;
                text-transform: uppercase;
            }

            > ul {
                > li {
                    list-style: none;
                    
                    > a {
                        color: white;
                        text-decoration: none;
                        font-size: 17px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 930px) {
    .footer {
        flex-direction: column;
        align-items: center;

        > section {
            margin-left: 0;
            padding-left: 20px;
            padding-right: 20px;
            justify-content: space-around;
            width: 100%;
            
            > div {
                width: 131px;
                margin-right: 5px;
                margin-bottom: 20px;
            }
        }
    }
}