.modal {
    display: flex;
    justify-content: flex-end;
}

.menu {
    background-color: white;
    width: 300px;

    > img {
        width: 40px;
        height: 40px;
        object-fit: contain;
        cursor: pointer;
        margin: 20px 0 30px 15px;
        padding: 5px;
        padding-left: 0;
    }

    > ul {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 0 15px;

        &:nth-of-type(2) {
            flex-direction: column;
            margin-top: 10px;
            padding: 0;
            transition-timing-function: ease-in;

            > li {
                text-align: center;
                color: rgb(3, 37, 65);
            }

            > .media-link {
                padding: 5px;

                &:hover {
                    > ul {
                        display: block;
                        transition-timing-function: ease-in;
                    }
                }
    
                > ul {
                    cursor: auto;
                    display: none;
                    background-color: #F0F0F0;
                    width: 173px;
                    padding: 8px 0;
                    border-radius: 4px;
    
                    > a {
                        text-decoration: none;
                        color: black;
    
                        > li {
                            list-style: none;
                            padding: 5px 0;
                            padding-right: 0;
                            font-weight: 400;
    
                            &:hover {
                                background-color: white;
                                transition: color 0.05s ease-in;
                            }
                        }
                    }
                }
            }

            > .link {
                font-weight: 600;
                margin: 5px 0;
    
                > a {
                    padding: 5px;
                    text-decoration: none;
                    color: rgba(3, 37, 65, 1);
                }
            }
        }

        > li {
            list-style: none;
            cursor: pointer;
        }

        > .logo {
            display: flex;
            justify-content: center;
            align-items: center;

            > a {
                display: flex;
                justify-content: center;
                align-items: center;
                padding: 5px;

                > img {
                    width: 154px;
                    height: 20px;
                    object-fit: contain;
                }
            }
        }

        > .search {
            display: flex;
            justify-content: center;
            align-items: center;

            > img {
                width: 29px;
                height: 29px;
                object-fit: contain;
                transition-timing-function: ease-in;
            }
        }
    }

    > section {
        margin-top: 10px;
        transition-timing-function: ease-in;

        > div {
            border-bottom: 1px solid rgba(227, 227, 227, 1);
        }

        > div:nth-of-type(1) {
            > label {
                display: flex;
                align-items: center;
                padding: 0 20px;

                > img {
                    width: 16px;
                    height: 16px;
                    object-fit: cover;
                }
        
                > div {
                    display: flex;
                    align-items: center;
                    width: 100%;
                    padding: 0;
                    margin-left: 12px;

                    > input {
                        width: 100%;
                        padding: 12px 0;
                        font-size: 13px;
                        font-style: italic;
                        color: #acacac;
                        outline: none;
                        border: none;
                
                        &::placeholder {
                            color: #acacac;
                        }
                    }

                    > img {
                        width: 26px;
                        height: 26px;
                        object-fit: cover;
                        cursor: pointer;
                        padding: 5px;
                        margin-right: -6px;
                        filter: brightness(85%);
                        transition: filter 0.05s ease-in;

                        &:hover {
                            filter: brightness(0%);
                        }
                    }
                }
            }
        }

        > button {
            width: 100%;
            display: flex;
            justify-content: center;
            border: none;
            background-color: white;
            outline: none;
            cursor: pointer;
            border-bottom: 1px solid rgba(227, 227, 227, 1);
            transition-property: background-color;
            transition-duration: 0.05s;
            transition-timing-function: ease-out;

            &:hover {
                background-color: #efefef;
            }

            > div {
                width: 1300px;
                padding: 5px 20px;
                display: flex;
                align-items: center;

                > img {
                    width: 16px;
                    height: 16px;
                    object-fit: cover;
                }
    
                > p {
                    margin-left: 6px;
                    font-size: 16px;
                    text-align: left;
    
                    > span {
                        font-weight: 600;
                    }
                }
            }
        }

        > .error {
            padding: 20px 0;
            font-weight: 700;
            font-size: 19px;
            text-align: center;
            color: rgba(33,37,41,0.5);
        }
    }
}