.leaderboard {
    padding: 30px 0 0 30px;
    margin-bottom: 50px;

    > section:first-of-type {
        display: flex;
        align-items: center;

        > h2 {
            font-weight: 600;
        }

        > div {
            margin-left: 20px;

            > div {
                display: flex;
                align-items: center;

                > div {
                    width: 8px;
                    height: 8px;
                    border-radius: 50%;
                    margin-right: 10px;
                }

                &:first-child {
                    > div {
                        background: linear-gradient(to right, rgba(192, 254, 207, 1) 0%, rgba(30, 213, 169, 1) 100%);
                    }
                }

                &:last-child {
                    > div {
                        background: linear-gradient(to right, rgba(253, 193, 112, 1) 0%, rgba(217, 59, 99, 1) 100%);
                    }
                }
            }
        }
    }

    > section:last-of-type {
        display: flex;
        justify-content: space-around;

        > div {
            > div {
                display: flex;
                
                > div:nth-of-type(1) {
                    width: 56px;
                    height: 56px;
                    background-color: #805BE7;
                    border-radius: 50%;
                    font-size: 18px;
                    color: white;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                }

                > div:nth-of-type(2) {
                    > h3 {
                        font-size: 19px;
                        font-weight: 600;
                    }

                    > div:nth-of-type(1) {
                        display: flex;
                        align-items: center;

                        > div {
                            background: linear-gradient(to right, rgba(192, 254, 207, 1) 0%, rgba(30, 213, 169, 1) 100%);
                            width: 462px;
                            height: 8px;
                            border-radius: 4px;
                        }

                        > h4 {
                            font-size: 14px;
                        }
                    }

                    > div:nth-of-type(2) {
                        display: flex;
                        align-items: center;

                        > div {
                            background: linear-gradient(to right, rgba(253, 193, 112, 1) 0%, rgba(217, 59, 99, 1) 100%);
                            width: 489px;
                            height: 8px;
                            border-radius: 4px;
                        }

                        > h4 {
                            font-size: 14px;
                        }
                    }
                }  
            }
        }
    }
}